@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
    background-image: linear-gradient(to right, #e15873, #DC143C);
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #260101c7;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color:#DC143C;
    text-align: center;
    text-shadow: 1px 1px 0px #260101c7;
}

h2 {
    color:#8C0335;
}

p {
    text-align: justify;
}